header {
    #titleSEO{
        font-size: 0px;
    }
    background-color: $darkbg;
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        &__delivery {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 12px;
        }
        &__auth {
            display: flex;
            ul {
                display: flex;
                li a {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
    .header-bottom {
        padding: 22px 0;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        ul {
            @include flex-sb;
        }
    }
}