<div class="first-screen">
    <div class="container">
        <section class="first-screen-wrapp">
            <div class="first-screen-wrapp__text">
                <p class="subtitle">The Experlence of Generations</p>
                <h2 class="title">In each <span>bottle</span></h2>
                <p class="description">Experience a true “American Dream” at Winehouse and visit the first tasting room in the United
                    States established by a former European mirgant vineyard worker and his family.</p>
                    <button class="read-more">READ MORE</button>
            </div>
            <img src="img/wine-first-screen.png" alt="wine boutle" class="wine-bg">
        </section>
    </div>
</div>
