<header>
    <h1 id="titleSEO">Wine Shop</h1>
    <div class="container">
        <div class="header-top">
            <p class="header-top__delivery">
                We Ship Everywhere! Free In The Us!
            </p>
            <div class="logo"><img src="img/logo-wine.png" alt="logo wine"></div>
            <div class="header-top__auth">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Wish List (0)</a></li>
                    <li><a href="#"><img src="img/Iconly/search.svg" alt="search icon"></a></li>
                    <li><a href="#"><img src="img/Iconly/bag.svg" alt="bag img"></a></li>
                </ul>
                <div class="burger-menu">
                    <span>-</span>
                    <span>-</span>
                    <span>-</span>
                </div>
            </div>
        </div>
        <nav class="header-bottom">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Imperial</a></li>
                <li><a href="#">Sparkling</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Product Details</a></li>
            </ul>
        </nav>
    </div>
</header>