html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

/*

===== Usage ===== 

p {
    @include font-size(1, 18, 1.2);
    // returns
    font-size: 16px;
    line-height: 1.5; // 18 / 12
    letter-spacing: 0.1em;
  }
*/
/* 
  
  ===== Usage ===== 

  @include font-face(Roboto, "./assets/Roboto", normal, normal);

*/
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'ChocolateBox';
  color: #fff;
}

@font-face {
  font-family: 'chocolateBox';
  src: url("ChocolateBox.ttf") format("ttf");
}

@font-face {
  font-family: 'poppinsBold';
  src: url("Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'poppinsRegular';
  src: url("Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'poppinsLight';
  src: url("Poppins-Light.ttf") format("ttf");
}

header {
  background-color: #000;
}

header #titleSEO {
  font-size: 0px;
}

header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
}

header .header-top__delivery {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
}

header .header-top__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-top__auth ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-top__auth ul li a {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
}

header .header-bottom {
  padding: 22px 0;
  border-top: 1px solid #EDEFF2;
  border-bottom: 1px solid #EDEFF2;
}

header .header-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-screen {
  background-color: #000;
}

.first-screen-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen-wrapp__text {
  max-width: 740px;
  padding-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen-wrapp__text .subtitle {
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0px;
}

.first-screen-wrapp__text .title {
  font-size: 96px;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 100;
}

.first-screen-wrapp__text .title span {
  color: #E2B024;
}

.first-screen-wrapp__text .description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0px;
  font-family: 'poppins';
  text-align: center;
  font-weight: 100;
}

.first-screen-wrapp__text .read-more {
  height: 1.5rem;
  margin-top: 1rem;
  color: #E2B024;
  font-family: 'chocolateBox';
  padding: initial;
}

.first-screen-wrapp__text .read-more:hover {
  border-bottom: 1px solid #E2B024;
}

.first-screen-wrapp .wine-bg {
  display: block;
}
/*# sourceMappingURL=style.css.map */